body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
  }
  
  #backgroundVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
  .header {
    background-color: rgba(15, 76, 117, 0.7); /* Use rgba for transparency */
    padding: 10px 0;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(15, 76, 117, 0.7); /* Use rgba for transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    margin: 0;
    color: #66fcf1;
  }
  
  form {
    margin-bottom: 20px;
    display: flex;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #45a29e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }
  
  button:hover {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(50, 130, 184, 0.7); /* Use rgba for transparency */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
  }
  
  span {
    flex: 1;
  }
  
  button.edit,
  button.delete {
    padding: 8px;
    margin-left: 8px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }
  
  button.edit:hover {
    background: linear-gradient(45deg, #ffd700, #ffd700);
  }
  
  button.delete:hover {
    background: linear-gradient(45deg, #ff4500, #ff4500);
  }
  